{% extends 'main/base.html' %}
{% load static %}
{% block title %}Лента новостей{% endblock %}
{% block link %}{% static 'news_list/css/style.css' %}{% endblock %}
{% block body %}
<div class="body">
    <div class="container">
        <div class="row">
            <div class="posts_list col-lg-12">
                {% for i in posts %}
                <a href="{% url 'news_frame' i.id %}" class="post_wrapper">
                    <div class="post col-lg-12">
                        <div class="left_box col-lg-6">
                            <img src="{{ i.image }}" alt="img">
                            <!--srcset="img-320.png 320w, img-640.png 640w" -->
                            <ul class="hashtags">
                                <li>
                                    <span class="hashtag">#link</span>
                                </li>
                                <li>
                                    <span class="hashtag">#link</span>
                                </li>
                                <li>
                                    <span class="hashtag">#link</span>
                                </li>
                                <li>
                                    <span class="hashtag">#link</span>
                                </li>
                            </ul>
                        </div>
                        <div class="right_box col-lg-6">
                            <div class="post_title">
                                <h2>{{i.title}}</h2>
                            </div>
                            <div class="post_description">
                                {{i.short_description}}
                            </div>
                            <div class="post_reporter">
                                reporter ...
                            </div>
                            <div class="post_date">
<!--                                {{i.date}}-->
                            </div>
                            <div class="row down_line_wrapper">
                                <div class="rating col-lg-6">
                                    <div class="likes">
                                        <img src="{% static 'news_list/img/like_like_disable.svg' %}" alt="img">
                                        <div class="count">
                                            5
                                        </div>
                                    </div>
                                    <div class="dislikes">
                                        <img src="{% static 'news_list/img/icon_dislike_disable.svg' %}" alt="img">
                                        <div class="count">
                                            5
                                        </div>
                                    </div>
                                </div>
                                <div class="viewers col-lg-6">
                                    <img src="{% static 'news_list/img/icon_viwers.svg' %}" alt="img">
                                    <div class="count">
                                        5
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul class="col align-self-center">
            <li><a href="#">«</a></li>
            <li><a href="" class="active">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
{% endblock %}