{% extends 'main/base.html' %}
{% load static %}
{% block title %}Лента новостей{% endblock %}
{% block link %}{% static 'news_frame/css/style.css' %}{% endblock %}
{% block body %}
<div class="body">
    <div class="container">
        <div class="row">
            <div class="post">
                <div class="img_block">
                    <img src="{% static 'news_frame/img/nlo.png' %}" alt="img" class="img"> <!--srcset="img-320.png 320w, img-640.png 640w" -->
                </div>

                <div class="post_info">
                    <h2 class="post_title">title ......</h2>
                    <div class="post_description">
                        description ....
                    </div>
                    <ul class="hashtags">
                        <li class="hashtag">
                            <span>#link</span>
                        </li>
                        <li class="hashtag">
                            <span>#link</span>
                        </li>
                        <li class="hashtag">
                            <span>#link</span>
                        </li>
                        <li class="hashtag">
                            <span>#link</span>
                        </li>

                    </ul>
                    <div class="post_reporter">
                        <a href="">Источник: reporter (не работает) ...</a>
                    </div>
                </div>


                <div class="row down_line_wrapper">
                    <div class="rating col-lg-6">
                        <div class="likes">
                            <img src="{% static 'news_frame/img/like_like_disable.svg' %}" alt="img">
                            <div class="count">
                                5
                            </div>
                        </div>
                        <div class="dislikes">
                            <img src="{% static 'news_frame/img/icon_dislike_disable.svg' %}" alt="img">
                            <div class="count">
                                5
                            </div>
                        </div>
                    </div>
                    <div class="right_box col-lg-6">
                        <div class="viewers">
                            <img src="{% static 'news_frame/img/icon_viwers.svg' %}" alt="img">
                            <div class="count">
                                5
                            </div>
                            <div class="date">
                                08.12.2021
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="comments_wrapper">
                <form class="send_comment d-flex">
                    <input class="message col-lg-8" type="text" placeholder="Введите сообщение"/>
                    <button class="button col-lg-2" type="submit">Отправить</button>
                </form>
                <div class="comments">
                    <div class="comment">
                        <div class="message">
                            <span>123123</span>
                        </div>
                        <div class="down_line">
                                <span class="author">
                                    Аноним
                                </span>
                            <span class="date">
                                    12.08.2021
                                </span>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="message">
                            <span>123123</span>
                        </div>
                        <div class="down_line">
                                <span class="author">
                                    Аноним
                                </span>
                            <span class="date">
                                    12.08.2021
                                </span>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="message">
                            <span>123123</span>
                        </div>
                        <div class="down_line">
                                <span class="author">
                                    Аноним
                                </span>
                            <span class="date">
                                    12.08.2021
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}